#main-navbar
{
  overflow: hidden;
  background-color: blue;
  position: relative;
  width: 100%;
  float: left;
}

#sidebar
{
  width: 20%
  height: 100%;
  position: fixed;
  background-color: red;
  right: 0%;
}

#navbar-container
{
  list-style-type:none;
  margin:0;
  padding:0;
  postion:relative;
  left:50%;
}

#navbar-container ul
{
  float:left;
  position:relative;
  display:block;
  padding:10px 20px;
  color:#fff;
}
